.page-template-page-programs {
	.main-wrap {
		h1.entry-title {
			text-transform: uppercase;
		}
		.featured-program-container {
			min-height: 420px;
			border-radius: 3px;
			margin-top: rem-calc(45);
			.program-image {
				background-size: cover !important;
				border-radius: 3px 0 0 3px;
			}
			.program-content {
				background: linear-gradient(-10deg, #f26522, #f4b232);
				background: -moz-linear-gradient(-10deg, #f26522, #f4b232);
				background: -webkit-linear-gradient(-10deg, #f26522, #f4b232);
				position: relative;
				padding: rem-calc(28);
				border-radius: 0px 3px 3px 0px;
				h3 {
					font-family: 'Open Sans';
					font-weight: 300;
					color: white;
				}
				.excerpt {
					color: white;
					font-size: rem-calc(14);
					margin-top: rem-calc(20);
				}
				.read-more-button {
					position: absolute;
				    bottom: rem-calc(28);
				    left: rem-calc(28);
					border-radius: 3px;
					border: 1px solid $white;
					color: white;
					width: rem-calc(168);
					height: rem-calc(40);
					font-size: rem-calc(14);
					display: block;
					line-height: rem-calc(40);
					text-align: center;
					&:hover {
						color: get-color(primary);
						background: $white;
						text-decoration: none;
					}
				}
			}
		}
		.program-showcase-container {
			margin-top: rem-calc(56);
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
			max-width: rem-calc(1178);
			.cell {
				min-height: 366px;
				padding: rem-calc(0 28 0 0);
				margin-bottom: rem-calc(28);
				.single-program-container {
					height: 100%;
					border-radius: 3px;
					.program-image-container {
						min-height: 217px;
						background-repeat: no-repeat !important;
						background-size: cover !important;
						border-radius: 3px 3px 0 0;
						background-position: center !important;
					}
					.header-container {
						height: calc(100% - 217px);
						border-bottom: 1px solid #e3e3e3;
						border-left: 1px solid #e3e3e3;
						border-right: 1px solid #e3e3e3;
						border-radius: 0 0 3px 3px;
						background: white;
						padding: rem-calc(20 28 10 28);
						color: $dark-gray;
						.program-showcase-title {
							font-family: 'Open Sans';
							font-size: rem-calc(18);
							font-weight: 300;
						}
					}
					&:hover {
						box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
					}
				}
				&:hover {
					text-decoration: none;
				}
				&:nth-child(3n) {
					padding: 0;
				}
			}
		}
	}
	@include breakpoint(small only) {
		.main-wrap {
			padding: 0;
			h1.entry-title {
				text-align: center;
				margin-top: 5px;
				margin-bottom: 20px;
				width: 100%;
			}
			.featured-program-container {
				margin-top: 0;
				.program-image {
					min-height: 315px;
				}
				.program-content {
					padding: 30px 20px 10px 20px;
					.read-more-button {
						position: relative;
						top: inherit;
						left: inherit;
						margin: 50px auto 0 auto;
					}
				}
			}
			.program-showcase-container {
				padding: 0 20px;
				margin: 35px 0 0 0;
				a.cell {
					padding: 0 !important;
				}
			}
			.load-more-button-container {
			    margin: 1rem 0 4rem 0;
			    a {
			        min-width: 50%;
			    }
			}
		}
	}
}