.single-procedure {
	.top-single-procedure {
		max-width: $global-width;
		margin: auto;
		.entry-title {
			text-transform: uppercase;
			margin-top: rem-calc(30);
		}
		.page-breadcrumbs {
			color: $dark-gray;
			font-size: rem-calc(12);
			a {
				color: $dark-gray;
				font-size: rem-calc(12);
			}
		}
		.procedure-title {
			font-family: 'Open Sans';
			font-weight: 300;
			margin-top: rem-calc(35);
		}
	}
	.entry-content {
		p {
			font-size: rem-calc(14);
		}
		ul {
			margin-left: 70px;
			list-style-type: none;
			li {
				font-size: rem-calc(14);
				text-indent: -5px;
				&:before {
					content: "−";
					text-indent: -5px;
					margin-left: -30px;
					margin-right: 30px;
				}
			}
		}
		h4 {
			margin-top: 28px;
		}
		h6 {
			color: get-color(primary);
			font-size: rem-calc(20);
		}
	}
	@include breakpoint(small only) {
		.container {
			padding: 0 20px;
			h1.entry-title {
				text-align: center;
				margin-top: 25px;
				margin-bottom: 20px;
				width: 100%;
			}
			.top-single-procedure {
				.procedure-title {
					font-size: 30px;
				}
			}
		}
		.main-wrap {
			padding: 0;
			.entry-content {
				h4 {
					font-size: 24px;
				}
				p {
					font-size: 14px;
				}
				ul {
					margin-left: 5px;
					li {
						text-indent: 22px;
					}
				}
			}
		}
	}
}